.select {
  position: relative;
  margin: 0;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  box-sizing: border-box;

  width: $size-block;

  font-size: $font-size;

  border: 1px solid $main-color;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;

    top: 5px;
    right: 10px;

    width: 10px;
    height: 10px;

    border-right: 1px solid $main-color;
    border-bottom: 1px solid $main-color;

    transform: rotate(45deg);
  }
}

.select__active {
  margin: 0;
  padding: 0;
}

.select__list {
  position: absolute;
  margin: 0;

  top: 27px;
  left: -1px;

  box-sizing: border-box;

  width: $size-block;

  border-right: 1px solid $main-color;
  border-bottom: 1px solid $main-color;
  border-left: 1px solid $main-color;
}

.select__item {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  cursor: pointer;
  &:hover {
    background: $hovered-bg;
  }
}
